.footer {
  background-color: $color-neutral-black;
  overflow: hidden;

  // Reset básico y estilos generales
  h2, p, ul, li {
    margin: 0;
    color: white;
  }

  a {
    color: $color-cyan;
    text-decoration: none;
    
    &:hover {
      color: $color-footer-hover;
    }
  }

  @include respond-to("<=s") {
    padding: 0 16px;
  }
  &__sectionGrouper {
    div {
      display: grid;
      gap: 16px;
      margin-bottom: 32px;
    }
  }
  // Grid principal
  &__top {
    --f-gutter: 0px;
    --f-paragraph-margin: 0;

    &__content {
      display: grid;
      grid-template-areas: "pages";
      padding: rem(42px) 0;
      align-items: center;

      // Pages section
      &__pages {
        display: grid;
        grid-area: pages;
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(16px);
        
        > div {
          display: grid;
          gap: rem(16px);
          grid-auto-rows: min-content;
          --f-h2-text-margin: 0 0 42px 0;
          
          h2 {
            font-size: 24px;
            line-height: 32px;
            @include respond-to("<=l") {
              font-size: 36px;
            }
          }
          
          ul {
            display: grid;
            gap: rem(10px);
            
            li {
              line-height: rem(20px);
              text-transform: capitalize;
              &.mainService {
                a {
                  font-family: var(--lk-font-syne);
                  color: $color-pink;
                  &:hover {
                    color: white;
                  }
                }  
              }
              a {
                text-decoration: none;
              }
            }
          }
        }
      }

      // Information section
      &__information {
        display: grid;
        grid-area: information;
        grid-template-areas: "logo logo" "info social";
        grid-template-columns: 1fr auto;
        gap: rem(25px) rem(20px);
        justify-items: end;
        
        @include respond-to(">=xl") {
          padding-top: 125.17px;
        }
        
        > a {
          grid-area: logo;
          width: rem(140px);
          height: 72px;
          position: relative;
          
          @include respond-to(">=xl") {
            width: rem(180px);
          }
        }
        
        ul {
          --f-list-item-margin: 0;
          grid-area: social;
          display: grid;
          gap: 1rem;
          grid-auto-rows: min-content;
          
          a {
            position: relative;
            height: rem(24px);
            width: rem(24px);
            display: inline-block;
          }
        }
        
        p {
          grid-area: info;
          line-height: rem(28px);
          font-size: 16px;
          display: grid;
          align-content: end;
          text-align: right;
          width: max-content;
          max-width: 99vw;
          
          @include respond-to("<=m") {
            text-align: left;
          }
          
          @include respond-to("<=xs") {
            br {
              display: none;
            }
          }
          
          span {
            display: block;
            font-size: 16px;
          }
        }
      }

      @include respond-to("<=m") {
        grid-template-areas:
          "information"
          "pages";
        grid-template-columns: 1fr;
        grid-row-gap: 1.625rem;

        &__information {
          grid-template-areas:
            "logo"
            "social"
            "info";
          grid-template-columns: 1fr;
          justify-items: start;
          
          ul {
            margin: 0;
            padding: 0;
            grid-template-columns: repeat(3, 1.5rem);
            grid-column-gap: 1rem;
          }
        }
      }
    }
  }

  // Sección de páginas
  &__top__content__pages {
    display: grid;
    grid-area: pages;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    row-gap: 4rem;

    > div {
      display: grid;
      gap: rem(16px);
      grid-auto-rows: min-content;

      h2 {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 42px;

        @include respond-to("<=l") {
          font-size: 36px;
        }
      }

      ul {
        display: grid;
        gap: rem(10px);
      }

      li {
        line-height: rem(20px);
        text-transform: capitalize;
      }
    }

    

    @include respond-to(">=xl") {
      grid-template-columns: repeat(4, 1fr);
      padding-top: 144px;
    }

    @include respond-to("<=s") {
      grid-template-columns: rem(246px) auto;
      padding: 0;
    }

    @include respond-to("<=xs") {
      grid-template-columns: 1fr;
    }
  }

  // Sección de información
  &__top__content__information {
    display: grid;
    grid-area: information;
    grid-template-areas: 
      "logo logo"
      "info social";
    grid-template-columns: 1fr auto;
    gap: rem(25px) rem(20px);
    justify-items: start;
    * {
      text-align: left !important;
    }
    @include respond-to(">=xl") {
      padding-top: 125.17px;
    }

    @include respond-to("<=m") {
      grid-template-areas:
        "logo"
        "social"
        "info";
      grid-template-columns: 1fr;
      justify-items: start;
      
      ul {
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(3, 1.5rem);
        grid-column-gap: 1rem;
      }
    }

    // Social icons
    &__logo {
      @each $network in (insta, twitter, linkedin) {
        &__#{$network} {
          &Hover {
            display: none;
          }
          &Container:hover {
            .#{$network} {
              display: none;
            }
            .#{$network}Hover {
              display: block;
            }
          }
        }
      }
    }
  }

  // Sección de privacidad
  &__top__privacy {
    padding-bottom: 42px;
    display: grid;
    gap: 16px;

    &__anchor {
      color: #00D0F6;
      text-decoration: none;
      
      &:hover {
        color: #CCF7FF;
      }
      
      &:first-child {
        margin-right: 16px;
      }
    }
  }

  // Servicios principales
  .mainService {
    margin-top: 20px;
    font-family: var(--lk-font-syne);
    color: $color-pink;
    
    &:first-of-type {
      margin-top: 0;
    }
  }
}